# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
data

[{'state': 'Florida',
  'shortname': 'FL',
  'info': {'governor': 'Rick Scott'},
  'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}]},
 {'state': 'Ohio',
  'shortname': 'OH',
  'info': {'governor': 'John Kasich'},
  'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [7]:
#load json as string
#json.load((open('data/world_bank_projects_less.json')))

In [8]:
#load as Pandas dataframe
#sample_json_df = pd.read_json('data/world_bank_projects_less.json')
#sample_json_df.head()

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [9]:
#json.load((open('data/world_bank_projects.json')))

In [10]:
# Use first element to see the data features
data = json.load((open('data/world_bank_projects.json')))
data[0]

{'sector': [{'Name': 'Primary education'},
  {'Name': 'Secondary education'},
  {'Name': 'Public administration- Other social services'},
  {'Name': 'Tertiary education'}],
 'supplementprojectflg': 'N',
 'projectfinancialtype': 'IDA',
 'prodline': 'PE',
 'mjtheme': ['Human development'],
 'idacommamt': 130000000,
 'impagency': 'MINISTRY OF EDUCATION',
 'project_name': 'Ethiopia General Education Quality Improvement Project II',
 'mjthemecode': '8,11',
 'closingdate': '2018-07-07T00:00:00Z',
 'totalcommamt': 130000000,
 'id': 'P129828',
 'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
  {'code': 'EX', 'name': 'Education'},
  {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
  {'code': 'EX', 'name': 'Education'}],
 'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
 'sector1': {'Percent': 46, 'Name': 'Primary education'},
 'lendinginstr': 'Investment Project Financing',
 'countrycode': 'ET',
 'sector2': {'Percent': 26, 'Name': 'Secondary education'},
 'totalamt': 130000000,
 'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
  {'code': '11', 'name': ''}],
 'boardapprovaldate': '2013-11-12T00:00:00Z',
 'countryshortname': 'Ethiopia',
 'sector4': {'Percent': 12, 'Name': 'Tertiary education'},
 'prodlinetext': 'IBRD/IDA',
 'productlinetype': 'L',
 'regionname': 'Africa',
 'status': 'Active',
 'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
 'envassesmentcategorycode': 'C',
 'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
 'approvalfy': 1999,
 'projectdocs': [{'DocDate': '28-AUG-2013',
   'EntityID': '090224b081e545fb_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.'},
  {'DocDate': '01-JUL-2013',
   'EntityID': '000442464_20130920111729',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
   'DocType': 'IP',
   'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1'},
  {'DocDate': '22-NOV-2012',
   'EntityID': '090224b0817b19e2_1_0',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.'}],
 'lendprojectcost': 550000000,
 'lendinginstrtype': 'IN',
 'theme1': {'Percent': 100, 'Name': 'Education for all'},
 'grantamt': 0,
 'themecode': '65',
 'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
 'sectorcode': 'ET,BS,ES,EP',
 'sector3': {'Percent': 16,
  'Name': 'Public administration- Other social services'},
 'majorsector_percent': [{'Percent': 46, 'Name': 'Education'},
  {'Percent': 26, 'Name': 'Education'},
  {'Percent': 16, 'Name': 'Public Administration, Law, and Justice'},
  {'Percent': 12, 'Name': 'Education'}],
 'board_approval_month': 'November',
 'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
 'countryname': 'Federal Democratic Republic of Ethiopia',
 'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en',
 'source': 'IBRD',
 'projectstatusdisplay': 'Active',
 'ibrdcommamt': 0,
 'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
  {'code': 'ES', 'name': 'Secondary education'},
  {'code': 'BS', 'name': 'Public administration- Other social services'},
  {'code': 'ET', 'name': 'Tertiary education'}],
 '_id': {'$oid': '52b213b38594d8a2be17c780'}}

In [11]:
#obtain the information that needed for filtering
json_df = json_normalize(data, 'mjtheme_namecode', ['countryshortname', 'project_name', 'mjthemecode'])
json_df.head()

,code,name,countryshortname,project_name,mjthemecode
0,8,Human development,Ethiopia,Ethiopia General Education Quality Improvement...,"8,11"
1,11,,Ethiopia,Ethiopia General Education Quality Improvement...,"8,11"
2,1,Economic management,Tunisia,TN: DTF Social Protection Reforms Support,"1,6"
3,6,Social protection and risk management,Tunisia,TN: DTF Social Protection Reforms Support,"1,6"
4,5,Trade and integration,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6"

In [12]:
json_df['code'].unique()

array(['8', '11', '1', '6', '5', '2', '7', '4', '10', '9', '3'],
      dtype=object)

In [13]:
# 10 countries with most projects
mostprojects = json_df.groupby('countryshortname').count().sort_values(by='project_name', ascending = False)
mostprojects.head(10)

                    code  name  project_name  mjthemecode
countryshortname
Indonesia             56    56            56           56
India                 51    51            51           51
Vietnam               43    43            43           43
Bangladesh            41    41            41           41
Brazil                41    41            41           41
China                 40    40            40           40
Africa                39    39            39           39
Yemen, Republic of    34    34            34           34
Morocco               32    32            32           32
Mozambique            31    31            31           31

In [14]:
dic = {}

for index, value in enumerate(json_df['name']):
    if value:
        dic[json_df['code'][index]] = value
print(dic)

for index, value in enumerate(json_df['name']):
    if not value:
        json_df['name'][index] = dic[json_df['code'][index]]

{'8': 'Human development', '1': 'Economic management', '6': 'Social protection and risk management', '5': 'Trade and integration', '2': 'Public sector governance', '11': 'Environment and natural resources management', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

In [15]:
json_df.head(10)

,code,name,countryshortname,project_name,mjthemecode
0,8,Human development,Ethiopia,Ethiopia General Education Quality Improvement...,"8,11"
1,11,Environment and natural resources management,Ethiopia,Ethiopia General Education Quality Improvement...,"8,11"
2,1,Economic management,Tunisia,TN: DTF Social Protection Reforms Support,"1,6"
3,6,Social protection and risk management,Tunisia,TN: DTF Social Protection Reforms Support,"1,6"
4,5,Trade and integration,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6"
5,2,Public sector governance,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6"
6,11,Environment and natural resources management,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6"
7,6,Social protection and risk management,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6"
8,7,Social dev/gender/inclusion,"Yemen, Republic of",Gov't and Civil Society Organization Partnership,"7,7"
9,7,Social dev/gender/inclusion,"Yemen, Republic of",Gov't and Civil Society Organization Partnership,"7,7"

In [16]:
count_th = json_df.groupby('name').count().sort_values(by='code', ascending=False)
count_th.head(10)

,code,countryshortname,project_name,mjthemecode
name,,,,
Environment and natural resources management,250,250,250,250
Rural development,216,216,216,216
Human development,210,210,210,210
Public sector governance,199,199,199,199
Social protection and risk management,168,168,168,168
Financial and private sector development,146,146,146,146
Social dev/gender/inclusion,130,130,130,130
Trade and integration,77,77,77,77
Urban development,50,50,50,50
Economic management,38,38,38,38